<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"  >
    <title>CURP</title>
    <meta name="description" content="Pagina de prueba" >
    <link rel="icon" type="image/jpeg" sizes="530x530" href="public/img/creeper.jpg">
    <link rel="icon" type="image/jpeg" sizes="530x530" href="public/img/creeper.jpg">
    <link rel="icon" type="image/jpeg" sizes="530x530" href="public/img/creeper.jpg">
    <link rel="icon" type="image/jpeg" sizes="530x530" href="public/img/creeper.jpg">
    <link rel="icon" type="image/jpeg" sizes="530x530" href="public/img/creeper.jpg">
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="public/fonts/ionicons.min.css">
    <link rel="stylesheet" href="public/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="public/css/Features-Boxed.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="public/css/Social-Icons.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container" ><a class="navbar-brand" href="/">Home</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" ><span class="navbar-toggler-icon"></span></button>    <ul class="nav navbar-nav ml-auto">
            <div class="collapse navbar-collapse" id="navbarResponsive">
        <li role="presentation" class="nav-item"><a class="nav-link" href="/contact">Contacto</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="/generator">Generador</a></li>
        
    </ul></div>
    </nav>
    <%- defineContent('content')%>

    <main>
        <div class="container">
        <%- body %>
        </div>
    </main>
    
  
    <footer class="py-5 bg-black">
        <div class="container">
           <p class="text-center text-white m-0 small">Copyright&nbsp;© Liz Iribe 2020</p>
        </div>
    </footer>
    <script src="public/js/jquery.min.js"></script>
    <script src="public/bootstrap/js/bootstrap.min.js"></script>
    <script src="public/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>