<header class="masthead text-center text-white" style="background-color:#042c24;" >
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0" >Generador de</h1>
            <h2 class="masthead-subheading mb-0">CURP</h2>
        </div>
    </div>
    
</header>
<div class="text-center contact-clean" style="background-color: #e6e5e4">
    <form id="/generator" method="POST">
        <h2 class="text-center">Generador de RFC</h2>
        <div class="form-group"><input class="form-control" id="name" type="text" name="name" placeholder="Nombre" required="true"></div>
        <div class="form-group"><input class="form-control" id="apat" type="text" name="apat" placeholder="Apellido Paterno"></div>
        <div class="form-group"><input class="form-control" id="amat" type="text" name="amat" placeholder="Apellido Materno"></div>
        <div class="form-group"><input class="form-control" id="month" type="number" name="month" min="1" max="12" placeholder="Mes"required="true"></div>
        <div class="form-group"><input class="form-control" id="day" type="number" name="day" min="1" max="31" placeholder="Día"required="true"></div>
        <div class="form-group"><input class="form-control" id="year" type="number" name="year" min="1950" max="2003" placeholder="Año"required="true"></div>
        <div class="form-group" style="text-align: left;"><label for="gender"><b>Selecciona tu género:</b></label><select class="form-control" id="gender" name="gender" required="true">
            <option value="H">Hombre</option>
            <option value="M">Mujer</option>
            </select></div>      
            <div class="form-group" style="text-align: left;"><label for="ent"><b>Estado:</b></label><select class="form-control" id="ent" name="ent" required="true">
                <option value="" disabled="" selected="">Selecciona el estado</option>
                        <option value="AS">Aguascalientes</option>
                        <option value="BC">Baja California</option>
                        <option value="BS">Baja California Sur</option>
                        <option value="CC">Campeche</option>
                        <option value="CL">Coahuila</option>
                        <option value="CM">Colima</option>
                        <option value="CS">Chiapas</option>
                        <option value="CH">Chihuahua</option>
                        <option value="DF">Ciudad de México</option>
                        <option value="DG">Durango</option>
                        <option value="GT">Guanajuato</option>
                        <option value="GR">Guerrero</option>
                        <option value="HG">Hidalgo</option>
                        <option value="JC">Jalisco</option>
                        <option value="MC">Estado de México</option>
                        <option value="MN">Michoacán</option>
                        <option value="MS">Morelos</option>
                        <option value="NT">Nayarit</option>
                        <option value="NL">Nuevo León</option>
                        <option value="OC">Oaxaca</option>
                        <option value="PL">Puebla</option>
                        <option value="QT">Querétaro</option>
                        <option value="QR">Quintana Roo</option>
                        <option value="SP">San Luis Potosí</option>
                        <option value="SL">Sinaloa</option>
                        <option value="SR">Sonora</option>
                        <option value="TC">Tabasco</option>
                        <option value="TS">Tamaulipas</option>
                        <option value="TL">Tlaxcala</option>
                        <option value="VZ">Veracruz</option>
                        <option value="YN">Yucatán</option>
                        <option value="ZS">Zacatecas</option>
                        <option value="NE">Nacido en el extranjero</option>
            </select></div>





        <div class="row mt-4">
            <div class="col"><small class="form-text text-muted"></small></div>
        </div>
        <button class="btn btn-primary text-left" type="submit">Enviar</button>
    </form> 
</div>