<% contentFor ("body")%>
<header class="masthead text-center text-white" >
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0" >¿Cómo se genera</h1>
            <h2 class="masthead-subheading mb-0">la CURP?</h2><a class="btn btn-primary btn-xl rounded-pill mt-5"
                role="button" data-bs-hover-animate="wobble" href="/generator" style="background-color: #ac1646;">Click aquí para saber tu CURP</a>
        </div>
    </div>
</header>
<section>
    <html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" style="background-color: #042c24;"/>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="dh-row-text-image-right-responsive.css" />
    <link rel="stylesheet" href="dh-row-titile-text-image-right-1.css" />
</head>

<body>
    <div class="container" style="text-align: center;">
        <header>
        </br>
        </br>
            <h1>Más Información</h1>
            <p class="lead text-center text-muted">Conoce más acerca de la Clave Única de Registro de Población</p>
        </header>
        <hr />
        <p class="text-center text-info">En México, la Clave Única de Registro de Población (CURP) es un código alfanumérico único de identidad de 18 caracteres utilizado para identificar oficialmente tanto a residentes como a ciudadanos mexicanos de todo el país.</p>
        <hr />
    </div>
</br>
<div class="text-center">
<img src="/public/img/img3.jpg" class="img-fluid" alt="Responsive image" style="text-align: center;">
</div>
</br>
</br>    

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>¿Qué necesito para el trámite de mi CURP?</b>
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Para poder tramitar tu CURP es necesario que presentes una copia de un acta de nacimiento, carta de naturalización o un documento migratorio (formato FM2 o FM3)            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>¿En dónde puedo realizar el trámite de la CURP?</b>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                En cualquiera de los módulos más cercanos a tu domicilio. Usa el siguiente link para consultar a cual puedes dirigirte: Directorio de módulos para tramitar la CURP            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>¿Que pasa si mi CURP no está correcta?</b>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                En caso de que tu CURP presente errores dirígete a alguna de las oficinas del Registro Civil o alguno de los módulos del Registro Nacional de Población con una copia del documento probatorio de identidad y tu una impresión de tu CURP. Allí podrás hacer una solicitud de corrección de datos.            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>¿Cómo está compuesta la clave CURP? </b>               
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Son 18 elementos, conformados por letras y números. Se generan a partir de los datos contenidos en el documento comprobatorio de tu identidad (acta de nacimiento, carta de naturalización o documento migratorio), y que se refieren a:
                </br>> Tu primer y segundo apellido, así tu nombre de pila
                </br>> Fecha de nacimiento
                </br>> Sexo
                </br>> Entidad Federativa
                </br>> Un dígito verificador asignado al momento de generar tu clave CURP            
            </div>
          </div>
          </div>

      </div>
    </br>
    
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Consulta tu CURP gratis en línea</h4>
        <p>Si deseas calcular tu CURP tan solo llena los campos donde se encuentra el generador y podrás saberla de inmediato.
        </p>
        <hr>
        <p class="mb-0">Recuerda, si tienes algún problema con el trámite de tu CURP siempre puedes solicitar ayuda al Centro de Atención a Usuarios de la CURP, al 51 28 11 11 en CDMX y al 01 800 911 11 11 en el resto del país.</p>
      </div>
    
    
</body>

</html>